# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
